{% extends 'base.html.twig' %}

{% block title %}
    {{ isEdit ? 'Modifier un lieu' : 'Ajouter un lieu' }}
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">
        {{ isEdit ? 'Modifier le lieu ' ~ lieu.nom : 'Ajouter un lieu' }}
    </h1>

    <div class="container w-50">
        <div class="row d-flex justify-content-center">

            <div class="col-md-8">
                {{ form_start(lieuModification) }}

                <div class="form-group row mt-5">
                    <div class="col-sm-12">
                        {{ form_widget(lieuModification.nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(lieuModification.nom) }}
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12">
                        {{ form_widget(lieuModification.rue, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(lieuModification.rue) }}
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12">
                        {{ form_widget(lieuModification.latitude, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(lieuModification.latitude) }}
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12">
                        {{ form_widget(lieuModification.longitude, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(lieuModification.longitude) }}
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12">
                        {{ form_widget(lieuModification.ville, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(lieuModification.ville) }}
                    </div>
                </div>

                <div class="form-group d-flex justify-content-end mt-5">
                    <a href="javascript:history.back()" class="btn btn-dark me-3 fas fa-undo"></a>
                    <button type="submit" class='btn btn-light fas fa-save' title="Enregistrer"></button>
                </div>

                {{ form_end(lieuModification) }}

            </div>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}
