{% extends 'base.html.twig' %}

{% block title %}Modification Campus{% endblock %}

{% block body %}
    <div id="title" class="text-center mt-5 pt-5">
        <h1>Modifier le campus de {{ campus.nom }}</h1>
    </div>

    <div class="container w-50">
        <div class="row d-flex justify-content-center">

            <div class="col-md-8">
                {{ form_start(modifCampusform) }}

                <!-- Nom -->
                <div class="form-group row mt-5">
                    <label for="nom" class="col-sm-3 col-form-label">
                        {{ form_label(modifCampusform.nom) }}
                    </label>
                    <div class="col-sm-9">
                        {{ form_widget(modifCampusform.nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(modifCampusform.nom) }}
                    </div>
                </div>

                <!-- Bouton "Enregistrer" -->
                <div class="form-group d-flex justify-content-end mt-5">
                    <a href="javascript:history.back('app_ville')" class="btn btn-secondary me-3">Retour</a>
                    {{ form_widget(modifCampusform.save, {'attr': {'class': 'btn btn-success'}}) }}
                </div>

                {{ form_end(modifCampusform) }}

            </div>
        </div>
    </div>

{% endblock %}
