{% extends 'base.html.twig' %}

{% block body %}
    <div id="title" class="text-center mt-3">
        <h1>Gérer les utilisateurs</h1>
    </div>

    <div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Campus</th>
                    <th>Photo</th>
                    <th class="text-center">Actions</th>

                </tr>
                </thead>

                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr class="align-middle">
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>{{ utilisateur.pseudo }}</td>
                        <td>{{ utilisateur.telephone }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{{ utilisateur.campus.nom }}</td>
                        <td><img class="photo_profil"
                                 src="{{ utilisateur.photo ? asset('img/profil/' ~ utilisateur.photo) : asset('img/profil/default_profil.png') }}"
                                 alt="Photo de {{ utilisateur.pseudo }}"></td>

                        <td>
                            <div class="d-flex justify-content-around">
                                <form method="post"
                                      action="{{ path('admin_utilisateur_modification', { 'id': utilisateur.id }) }}">
                                    <button class="btn btn-success px-4k">Modifier</button>
                                </form>

                                <form method="post" action="{{ path('suppression_profil', { 'id': utilisateur.id }) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                                    <button class="btn btn-danger px-4k">Supprimer</button>
                                </form>
                            </div>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun utilisateur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row d-flex mt-5">
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_admin') }}" class="btn btn-secondary me-3">Retour</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary d-inline-block">Ajouter</a>
        </div>
    </div>

{% endblock %}