{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="title" class="text-center mt-3">
        <h1>Gérer les utilisateurs</h1>
    </div>
    <div class="container">
        {{ form_start(formRecherche, {'attr': {'id': 'filterForm'}}) }}
        <div class="row" id="inputs">
            <!-- Search field -->
            <!-- Search field -->
            <div class="col-6 d-flex align-items-center">
                <div class="form-group d-flex align-items-center mb-0 w-100">
                    {{ form_label(formRecherche.search, null, {'label_attr': {'class': 'me-2'}}) }}
                    {{ form_widget(formRecherche.search, {'attr': {'class': 'form-control', 'placeholder': "nom, prenom, pseudo"}}) }}
                </div>
            </div>

            <!-- Campus field -->
            <div class="col-3 d-flex align-items-center">
                <div class="form-group d-flex align-items-center mb-0">
                    {{ form_label(formRecherche.campus, null, {'label_attr': {'class': 'me-2'}}) }}
                    {{ form_widget(formRecherche.campus, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <!-- Est Actif Checkbox -->
            <div class="col-2 d-flex align-items-center">
                <div class="form-check d-flex align-items-center mb-0">
                    {{ form_widget(formRecherche.estActif, {'attr': {'class': 'form-check-input me-2'}}) }}
                    {{ form_label(formRecherche.estActif, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            </div>

            <!-- Submit and Reset buttons -->
            <div class="col-1 d-flex justify-content-start align-items-center">
                <button type="submit" class="btn btn-info btn-sm me-2 fas fa-search" title="Recherche"></button>
                <a class="btn btn-danger btn-sm fas fa-undo" title="Réinitialiser recherche" href="{{ path('utilisateur_liste') }}"></a>
            </div>
        </div>
        {{ form_end(formRecherche) }}
    </div>
    <div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Campus</th>
                    <th>Photo</th>
                    <th class="text-center">Actions</th>
                    <th class="text-center">Compte actif</th>

                </tr>
                </thead>

                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr class="align-middle">
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>{{ utilisateur.pseudo }}</td>
                        <td>{{ utilisateur.telephone }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{{ utilisateur.campus.nom }}</td>
                        <td><img class="photo_profil"
                                 src="{{ utilisateur.photo ? asset('img/profil/' ~ utilisateur.photo) : asset('img/profil/default_profil.png') }}"
                                 alt="Photo de {{ utilisateur.pseudo }}"></td>

                        <td>
                            <div class="d-flex justify-content-around">
                                <form method="post"
                                      action="{{ path('admin_utilisateur_modification', { 'id': utilisateur.id }) }}">
                                    <button class="btn btn-success px-4k">Modifier</button>
                                </form>

                                <form method="post" action="{{ path('suppression_profil', { 'id': utilisateur.id }) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                                    <button class="btn btn-danger px-4k">Supprimer</button>
                                </form>
                            </div>
                        </td>
                        <td class="text-center"> {% if utilisateur.estActif %} ✔️ {% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun utilisateur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row d-flex mt-5">
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_admin') }}" class="btn btn-secondary me-3">Retour</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary d-inline-block">Ajouter</a>
        </div>
    </div>

{% endblock %}