{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() ~ title }}
{% endblock %}
{% block body %}

    <div id="title" class="text-center mt-2">
        <h1 class="text-white">{{ sortie.nom }}</h1>
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="sortie-info rounded-3 overflow-hidden shadow-sm">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="fas fa-calendar-alt me-3 text-muted"></div>
                            <div>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="fas fa-map-marker-alt me-3 text-muted"></div>
                            <div>{{ sortie.lieu.nom }}, {{ sortie.lieu.ville.nom }}</div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="fas fa-users me-3 text-muted"></div>
                            <div>Inscrits: {{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="fas fa-clock me-3 text-muted"></div>
                            <div>{{ sortie.duree }} minutes</div>
                        </div>
                        <p class="card-text">{{ sortie.infosSortie }}</p>
                        <div class="d-flex justify-content-between mt-4"><a
                                    href="{{ path('utilisateur_profil_id', {'id': sortie.organisateur.id}) }}"><p
                                        class="text-muted mb-0">Organisé par: {{ sortie.organisateur.pseudo }}</p>
                            </a> {% if sortie.etat.getLibelle() == "Ouverte" or sortie.etat.getLibelle() == "Cloturée" %}
                                {% if utilisateur in sortie.participants %}
                                    <a class="btn btn-danger fas fa-user-times" title="Se désinscrire"
                                       href="{{ path('sorties_desinscrire', {'id': sortie.id}) }}"
                                       onclick="return confirm('Voulez-vous vraiment vous désinscrire ?');"></a>
                                {% else %}                                    {% if sortie.etat.getLibelle() != "Cloturée" %}
                                    <a class="btn fas fa-user-plus" title="S'incrire"
                                       href="{{ path('sorties_inscrire', {'id': sortie.id}) }}"
                                       onclick="return confirm('Souhaitez-vous vous inscrire ?');"></a>
                                {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-6 d-flex align-items-center">
                <div class="row ps-5">
                    <h4 class="mb-3">Participants</h4>

                    <ul class="list-group participants-list rounded-3 overflow-hidden shadow-sm">
                        {% for participant in sortie.participants %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><a
                                        href="{{ path('utilisateur_profil_id', {'id': participant.id}) }}">{{ participant.pseudo }}</a>
                                <span class="badge bg-primary rounded-pill">{{ participant.prenom }} {{ participant.nom }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}