{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h2 class="text-center fw-bold mb-3 mx-1 mx-md-4 mt-5">{{ title }}</h2>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-12">
                <div class="text-white" style="border-radius: 25px;">
                    {{ form_start(sortieform, {'attr': {'class': "mx-1 mx-md-4 needs-validation was-validated"}}) }}

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-4">
                                {{ form_row(sortieform.nom, {'attr': {'class': "form-control"}}) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.dateHeureDebut) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.dateLimiteInscription, {'attr': {'class': "form-control", 'type': 'datetime-local'}}) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.nbInscriptionMax, {'attr': {'class': "form-control"}}) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.duree, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-4">
                                {{ form_row(sortieform.campus, {'attr': {'class': "form-control"}}) }}
                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.ville, {'attr': {'class': "form-control"}}) }}
                            </div>
                            <div class="row mb-4">
                                <div class="col-11">
                                    {{ form_row(sortieform.lieu, {'attr': {'class': "form-control"}}) }}
                                </div>

                                <!-- Icône "+" -->
                                <div class="col-1 d-flex align-items-center justify-content-end mt-3">
                                    <i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#createPlaceModal"
                                       style="font-size: 24px; cursor: pointer;" id="ajoutLieu"></i>
                                </div>

                            </div>
                            <div class="mb-4">
                                {{ form_row(sortieform.rue, {'attr': {'class': "form-control"}}) }}
                            </div>
                            <div class="mb-4">
                                <label for="latitude">Latitude / Longitude</label>
                                <div class="d-flex">
                                    {{ form_widget(sortieform.latitude, {'attr': {'class': 'form-control me-2'}}) }}
                                    {{ form_widget(sortieform.longitude, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="form-outline">
                                {{ form_row(sortieform.infosSortie, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" name="action" value="enregistrer" class="btn btn-light fas fa-save" title="Enregistrer">
                            </button>
                        </div>
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" name="action" value="publier" class="btn btn-light fas fa-upload" title="Publier"></button>
                        </div>

                        {% if sortie is not null and sortie.id is not null %}
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <a href="{{ path('sorties_supprimer', { id: sortie.id }) }}" class="btn btn-light fas fa-trash" title="Supprimer"
                                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?');">
                                </a>
                            </div>
                        {% endif %}

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <a href="javascript:history.back()" class="btn btn-dark me-3 fas fa-undo"></a>                        </div>
                    </div>

                    {{ form_end(sortieform) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Bootstrap -->
    <div class="modal fade" id="createPlaceModal" tabindex="-1" aria-labelledby="createPlaceModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="createPlaceModalLabel">Créer un nouveau lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="LieuForm" action="{{ path('ajax_ajouter_lieu') }}" method="POST">
                        {{ form_start(lieuForm) }}
                        <div class="mb-3">
                            {{ form_row(lieuForm.nom) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(lieuForm.rue) }}
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                {{ form_row(lieuForm.latitude) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(lieuForm.longitude) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_widget(lieuForm.ville, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button type="submit" class='btn btn-light fas fa-save' title="Enregistrer"></button>
                    </form>
                    {{ form_end(lieuForm) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const lieuSelect = document.getElementById('{{ sortieform.lieu.vars.id }}');
            const villeSelect = document.getElementById('{{ sortieform.ville.vars.id }}');

            if (lieuSelect.value) {
                fetchLieuDetails(lieuSelect.value);
            }

            lieuSelect.addEventListener('change', function () {
                const lieuId = this.value;

                if (lieuId) {
                    fetchLieuDetails(lieuId);
                } else {
                    document.getElementById('{{ sortieform.rue.vars.id }}').value = '';
                    document.getElementById('{{ sortieform.latitude.vars.id }}').value = '';
                    document.getElementById('{{ sortieform.longitude.vars.id }}').value = '';
                }
            });

            villeSelect.addEventListener('change', function () {
                const ville = this.value;

                fetch(`/lieux/${ville}`)
                    .then(response => response.json())
                    .then(data => {
                        lieuSelect.innerHTML = '<option value="">-- Sélectionner un lieu --</option>';
                        data.forEach(lieu => {
                            const option = document.createElement('option');
                            option.value = lieu.id;
                            option.textContent = lieu.nom;
                            lieuSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Erreur lors de la récupération des lieux:', error));
            });

            function fetchLieuDetails(lieuId) {
                fetch(`/lieu/details/${lieuId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erreur de réseau');
                        }
                        return response.json();
                    })
                    .then(lieu => {
                        document.getElementById('{{ sortieform.rue.vars.id }}').value = lieu.rue;
                        document.getElementById('{{ sortieform.latitude.vars.id }}').value = lieu.latitude;
                        document.getElementById('{{ sortieform.longitude.vars.id }}').value = lieu.longitude;
                        villeSelect.value = lieu.ville; // Remplir la ville ici
                    })
                    .catch(error => console.error('Erreur lors de la récupération des détails du lieu:', error));
            }
        });




        jQuery(document).ready(function() {
            jQuery('#LieuForm').on('submit', function(e) {
                e.preventDefault(); // Empêche le comportement par défaut de soumission du formulaire

                let form = jQuery(this);
                jQuery.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(), // Sérialiser les données du formulaire
                    success: function(response) {
                        // Si le lieu est créé avec succès, on ferme la modal et met à jour la liste des lieux
                        jQuery('#createPlaceModal').modal('hide'); // Fermer la modal
                        jQuery('.modal-backdrop').remove();

                        jQuery('#sortie_creation_modification_rue').val(jQuery('#lieu_rue').val());


                        // Mettre à jour dynamiquement la liste des lieux dans la sortie
                        jQuery('#sortie_creation_modification_lieu').append('<option selected value="' + response.id + '">' + jQuery('#lieu_nom').val() + '</option>');
                    },
                    error: function(xhr) {
                        // Si une erreur survient, on remplace le formulaire dans la modal par celui retourné avec les erreurs
                        xhr.responseJSON = undefined;
                        jQuery('#modalBody').html(xhr.responseJSON.form);
                    }
                });
            });
        });


    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}