{% extends './base.html.twig' %}

{% block title %}Sortir - Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-11 text-end">
                <p>Date du jour : </p>
            </div>
            <div class="col-sm-1">
                {{ "now"|date("d/m/Y") }}
            </div>
        </div>

        <div class="row d-flex justify-content-end">
            <div class="col-sm-11 text-end">
                <p>Participant : </p>
            </div>
            <div class="col-sm-1">
                {{ utilisateur.pseudo }}
            </div>
        </div>
    </div>

    <h1 class="text-center">Filtrer les sorties</h1>
    <div class="container">
        {{ form_start(form, {'attr': {'id': 'filterForm'}}) }}
        <div class="row">
            <div id="inputs" class="col-6">
                <div class="form-group d-flex align-items-center mb-3">
                    {{ form_label(form.campus, null, {'label_attr': {'class': 'me-2'}}) }}
                    {{ form_row(form.campus, {'label': false, 'attr': {'class': 'form-control m-2'}}) }}
                </div>
                <div class="form-group d-flex align-items-center mb-3">
                    {{ form_label(form.search, null, {'label_attr': {'class': 'me-2'}}) }}
                    {{ form_row(form.search, {'label': false, 'attr': {'class': 'form-control m-2 fw-normal', 'placeholder': "Search"}}) }}
                </div>
                <div class="form-group d-flex mb-3">
                    <div class="me-3 flex-fill col-auto">
                        <div class="d-flex align-items-center">
                            {{ form_label(form.dateDebut, null, {'label_attr': {'class': 'me-2'}}) }}
                            {{ form_widget(form.dateDebut, {'label': false, 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="flex-fill col-auto">
                        <div class="d-flex align-items-center">
                            {{ form_label(form.dateFin, null, {'label_attr': {'class': 'me-2'}}) }}
                            {{ form_widget(form.dateFin, {'label': false, 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 d-flex flex-column mt-4">
                <div class="form-check d-flex align-items-center mb-2">
                    {{ form_widget(form.estOrganisateur, {'attr': {'class': 'form-check-input me-2'}}) }}
                    {{ form_label(form.estOrganisateur, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
                <div class="form-check d-flex align-items-center mb-2">
                    {{ form_widget(form.estInscrit, {'attr': {'class': 'form-check-input me-2'}}) }}
                    {{ form_label(form.estInscrit, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
                <div class="form-check d-flex align-items-center mb-2">
                    {{ form_widget(form.estPasInscrit, {'attr': {'class': 'form-check-input me-2'}}) }}
                    {{ form_label(form.estPasInscrit, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
                <div class="form-check d-flex align-items-center mb-2">
                    {{ form_widget(form.estTerminees, {'attr': {'class': 'form-check-input me-2'}}) }}
                    {{ form_label(form.estTerminees, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            </div>

            <div class="col-3 d-flex flex-column justify-content-center mt-4">
                <button type="submit" class="btn btn-info btn-sm mb-2 fas fa-search" title="Recherche"></button>
                <a class="btn btn-danger btn-sm mb-2 fas fa-undo" title="Réinitialiser recherche" href="{{ path('app_accueil') }}"></a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div style="max-height: 400px; overflow-y: auto;" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>État</th>
                        <th>Inscrit</th>
                        <th>Organisteur</th>
                        <th class="text-center">Actions</th>

                    </tr>
                </thead>

                <tbody>
                {% for sortie in sorties %}
                    <tr class="align-middle">
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("d-m-Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription | date("d-m-Y") }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.getLibelle() }}</td>
                        <td>
                            {% if utilisateur in sortie.participants and sortie.etat.getLibelle() != "Annulée" %}
                                ✔️
                            {% endif %}
                        </td>
                        <td>{% if utilisateur is same as sortie.organisateur %}
                                {{ sortie.organisateur.pseudo }}
                            {% else %}
                                <a href="{{ path('utilisateur_profil_id', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                            {% endif %}
                        </td>
                        <td>
                           <div class="d-flex justify-content-around">
                               {# TODO: bouton modifier non fonctionnel, s'inscrire non plus #}
                            {% if utilisateur is same as sortie.organisateur and sortie.etat.getLibelle() == "En création" %}
                                <a class="btn btn-info fas fa-edit" title="Modifier" href="{{ path('sorties_modifier', {'id': sortie.id}) }}"></a>
                                <a class="btn btn-warning fas fa-upload" title="Publier" href="{{ path('sorties_publier', {'id': sortie.id}) }}"></a>
                                <a class="btn btn-danger fas fa-trash" title="Supprimer" href="{{ path('sorties_supprimer', {'id': sortie.id}) }}"
                                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?');"></a>
                            {% else %}
                                <a class="btn btn-info fas fa-eye" title="Afficher" href="{{ path('sorties_detail', {'id': sortie.id}) }}"></a>
                            {% endif %}
                            {% if sortie.etat.getLibelle() == "Ouverte" or sortie.etat.getLibelle() == "Cloturée" %}
                                {% if utilisateur in sortie.participants %}
                                    <a class="btn btn-danger fas fa-user-times" title="Se désinscrire" href="{{ path('sorties_desinscrire', {'id': sortie.id}) }}"
                                       onclick="return confirm('Voulez-vous vraiment vous désinscrire ?');"></a>
                                {% else %}
                                    {% if sortie.etat.getLibelle() != "Cloturée" %}
                                        <a class="btn btn-success fas fa-user-plus" title="S'incrire" href="{{ path('sorties_inscrire', {'id': sortie.id}) }}"
                                           onclick="return confirm('Souhaitez-vous vous inscrire ?');"></a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if utilisateur is same as sortie.organisateur and sortie.etat.getLibelle() == "Ouverte" %}
                               <a class="btn btn-danger fas fa-undo" title="Annuler" href="{{ path('sorties_annuler', {'id': sortie.id}) }}"></a>
                            {% endif %}
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex mx-4 mb-3 mb-lg-4">
        <a class="btn btn-info" href="{{ path('sorties_creer') }}">Créer une sortie</a>
    </div>


{% endblock %}