{% extends 'base.html.twig' %}

{% block title %}Ajout d'une ville{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Ajouter une ville</h1>

    <div class="container w-25 mt-5">
        {{ form_start(villeForm) }}

        <div class="form-group row mt-5">
            <label for="nom" class="col-sm-3 col-form-label">
                {{ form_label(villeForm.nom) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(villeForm.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(villeForm.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row mt-5">
            <label for="nom" class="col-sm-3 col-form-label">
                {{ form_label(villeForm.codePostal) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(villeForm.codePostal, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <!-- Bouton "Enregistrer" -->
        <div class="form-group d-flex justify-content-end mt-5">
            <a href="javascript:history.back()" class="btn btn-secondary me-3">Retour</a>
            {{ form_widget(villeForm.save, {'attr': {'class': 'btn btn-success'}}) }}
        </div>

        {{ form_end(villeForm) }}

    </div>

{% endblock %}
