{% extends 'base.html.twig' %}

{% block title %}Les villes{% endblock %}

{% block body %}
    <div class="container w-50">
        <h1 class="m-5 text-center">Gérer les villes</h1>
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-striped">
                <thead style="position: sticky; top: 0; background-color: white; z-index: 1">
                <tr>
                    <th class="ps-5">Ville</th>
                    <th class="ps-5">Code Postal</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in allVilles %}
                    <tr class="align-middle">
                        <td class="ps-5" style="white-space: nowrap;">{{ ville.nom }}</td>
                        <td class="ps-5" style="white-space: nowrap;">{{ ville.codePostal }}</td>
                        <td class="w-50">
                            <div class="d-flex justify-content-end">
                                <form method="POST" action="{{ path('ville_modification', {'id': ville.id }) }}" class="me-5">
                                    <button class="btn btn-success px-4k" type="submit">Modifier</button>
                                </form>
                                <form method="POST" action="{{ path('suppression_ville', {'id': ville.id }) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cette ville ?')">
                                    <button class="btn btn-danger px-4k" type="submit">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-end mt-5">
            <a href="{{ path('app_admin') }}" class="btn btn-secondary me-3">Retour</a>
            <form method="POST" action="{{ path('ajouter_ville') }}">
                <button class="btn btn-success px-4k" type="submit">Ajouter</button>
            </form>
        </div>

    </div>

{% endblock %}
